In [2]:
import pandas as pd
import yfinance as yf

In [4]:
start_date="2020-06-09"
end_date="2025-11-29"

tata=yf.download(
    tickers="TATASTEEL.NS",
    interval="1d",
    auto_adjust=True,
    multi_level_index=False,
    start=start_date,
    end=end_date
)

reliance=yf.download(
    tickers="RELIANCE.NS",
    interval="1d",
    auto_adjust=True,
    multi_level_index=False,
    start=start_date,
    end=end_date
)

mrf=yf.download(
    tickers="MRF.NS",
    interval="1d",
    auto_adjust=True,
    multi_level_index=False,
    start=start_date,
    end=end_date
)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [5]:
tata_old = pd.read_csv("TATASTEEL.NS.csv")
reliance_old = pd.read_csv("RELIANCE.NS.CSV")
mrf_old = pd.read_csv("MRF.NS.CSV")
tata_old.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5044 entries, 0 to 5043
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       5044 non-null   object
 1   Open       5044 non-null   float64
 2   High       5044 non-null   float64
 3   Low        5044 non-null   float64
 4   Close      5044 non-null   float64
 5   Adj Close  5044 non-null   float64
 6   Volume     5044 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 276.0+ KB

In [6]:
tata_old.drop(columns=['Adj Close'],inplace=True)
reliance_old.drop(columns=['Adj Close'],inplace=True)
mrf_old.drop(columns=['Adj Close'],inplace=True)

In [7]:
tata_old.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5044 entries, 0 to 5043
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    5044 non-null   object
 1   Open    5044 non-null   float64
 2   High    5044 non-null   float64
 3   Low     5044 non-null   float64
 4   Close   5044 non-null   float64
 5   Volume  5044 non-null   int64
dtypes: float64(4), int64(1), object(1)
memory usage: 236.6+ KB

In [10]:
tata.reset_index(inplace=True)
reliance.reset_index(inplace=True)
mrf.reset_index(inplace=True)
tata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1360 entries, 0 to 1359
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    1360 non-null   datetime64[ns]
 1   Close   1360 non-null   float64
 2   High    1360 non-null   float64
 3   Low     1360 non-null   float64
 4   Open    1360 non-null   float64
 5   Volume  1360 non-null   int64
dtypes: datetime64[ns](1), float64(4), int64(1)
memory usage: 63.9 KB

In [13]:
tata_new = pd.concat([tata_old,tata])
reliance_new = pd.concat([reliance_old,reliance])
mrf_new = pd.concat([mrf_old,mrf])

In [15]:
tata_new['company'] = 'tata'
reliance_new['company'] = 'reliance'
mrf_new['company'] = 'mrf'

In [17]:
df = pd.concat([tata_new,reliance_new,mrf_new])
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18589 entries, 0 to 1359
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     18589 non-null  object
 1   Open     18589 non-null  float64
 2   High     18589 non-null  float64
 3   Low      18589 non-null  float64
 4   Close    18589 non-null  float64
 5   Volume   18589 non-null  int64
 6   company  18589 non-null  object
dtypes: float64(4), int64(1), object(2)
memory usage: 1.1+ MB

In [20]:
df["Date"] = pd.to_datetime(df["Date"])
df.sort_values(by='Date',inplace=True)
df.head()

        Date       Open       High        Low      Close    Volume   company
0 2000-01-03  83.094597  86.014198  82.027802  85.593102   3567878      tata
0 2000-01-03  37.095798  39.313702  37.095798  39.313702  28531559  reliance
1 2000-01-04  40.360199  42.460999  39.251301  42.460999  60744659  reliance
1 2000-01-04  84.273697  85.901901  80.315399  84.666702   2769856      tata
2 2000-01-05  81.185699  91.460197  81.185699  87.894997   6839939      tata

In [22]:
df.to_csv("final_destination.csv")